body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: black;   
    font-family: 'Verdana'; 
    background: url("../images/generalImages/spiti.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 


 /*------------ CUSTOM ID'S ------------*/
 #logo{
     height: 55px;
     width:480px; 
     top:105px; 
     left:30px; 
     position:absolute; 
     border:2px solid black;
     border-radius:14px;
     background-color:graytext
 }
 
 #homepageSlider{
    width:80%;
    height:30%;
    border:2px solid black;
    margin: 0 auto;
    display:block;
    position: relative;
 }

#detailsSlider{
    width:100%;
    height:350px;
    border:2px solid black;
    display:block;
    position: relative;
    float:left;
 }

#img{
    background-size:cover;
    position:absolute; width:100%; height:100%;

    background-repeat:repeat;
}

#userAccountContainer{
    position:absolute;
    top:35%; 
    text-align:center;
    width:100%;
}

#contactContainer{
    position: absolute;
    top: 25%;
    text-align:center;
    width:100%;
}

#signupContainer{
    width:100%;
    position: absolute;
    top:25%;
    background-color:rgba(255,255,255,0.6);   
}

#aboutContainer{
    top:25%;
    position: absolute;
    width:100%;
    font-size:17px;
    text-align: justify;
    
}

#homepageSearchContainer{        
    height:75%;    
    width:35%;
    font-size:15px;
    border: 2px solid black;
    color:black; 
    background-color:rgba(255,255,255,0.7);    
    position:fixed;
    top:180px; 
    left:30px;
}

/*------------ CUSTOM CONTAINERS ------------*/
    
.generalUseContainer{ 
    width:95%;
    height:auto;   
    background:rgba(255,255,255,0.8);
    border: 2px solid black;
    position:relative;
    color: black;
    font-size:18px;
}

/*------------ OTHER CUSTOM CLASSES ------------*/

 a{
     color:blue;
 }
 
 label{
     font-size:16px;
 } 

.cstmBtn, .cstmBtn:hover,.cstmBtn:active, .cstmBtn:after {
    font-size: 25px;
    background-color: transparent;
    border:none;
    outline:none;
    position: relative;
}

.hiddenElement{
   visibility:hidden;
}

.undisplayedElement{
   display:none;
   visibility:hidden;
}

.centeredElement{
    margin: 0 auto; text-align: center; position:relative;
}

.propertyImageSmall{
    float:right; 
    width:55%; 
    height:270px; 
    border:2px solid black;   
}

.formHeader{
    text-align:center; font-size: 25px;
}

.form-control{
    border: 1px solid black;
    
}

.btn-default{
    border: 1px solid black;
    
}

.form-narrow {
    color:black;
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
      
}

.navbar{
    background-color: black
}

.navbarTab {
    font-size: 25px;
}

@media screen and (max-width: 960px) {
    .homepageContainer {
        /*width: 300px;*/
    }
}

.homepageForm > .form-group > .form-control{
    border: 1px solid black;
}

.homepageForm > .form-group > .form-control:active{
    border: 1px solid black;
   
}

.homepageForm > .form-group > .row > .col-lg-12 > .form-control{
    border: 1px solid black;
 
}

.homepageMinPriceDropdown{
    width:40%;
    float:left;
}

.homepageMaxPriceDropdown{
    width:40%;
    float:right;
}

.homepageSearchbtn,.homepageSearchbtn:hover , .homepageSearchbtn:active{
    border: 1px solid black;
    width:40%;
    float:right;
    
}

.grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;

    /* Supports Grid */
    display: grid;
}

.module {
    /* Demo-Specific Styles */
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;

}

.alert{
    border:1px solid red;    
}

.contactLink{
    font-size:16px;
}

#adminButton{
    color:red; font-size:18px; border:1px solid red;
}

.dropdown-menu{
    color:red; border:1px solid red; width:210px; background:black; text-align: center;
}

.dropdown-item{
    color:red; font-size:18px;
}

.dropdown-item:hover{
    color:black; background:red; font-size:18px;
}