body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    padding-bottom: 40px;
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Verdana';
}


.alert{
    border:1px solid red;    
}

.homepageSearchContainer{        
    height:75%;    
    width:35%;
    font-size:15px;
    border: 2px solid black;
    color:black; 
    background-color:rgba(255,255,255,0.8);    
    position:fixed;
    top:180px; 
    left:30px;
}

.homepagePropertiesContainer {
    height:335px;   
    width:100%;
    background:white;
    font-size:15px;
    border: 1px solid black;
    
    color:black; 
    position:relative;
}

.generalUseContainer{        
    height:auto;
    font-size:15px;
    border: 2px solid black;
    color:black; 
    background-color:rgba(255,255,255,0.8);    
    position: relative;
}

.propertyImageSmall{
    float:right; 
    width:55%; 
    height:270px; 
    border:2px solid black;
    
}

 .customHeader{
        position:relative; 
        font-size: 35px; 
        color:black;
    }
        
        .userDetails
        {
            font-size: 18px;
            
        }
 
        .formHeader{
            text-align:center; font-size: 25px;
        }
        
 #logo{
     height: 55px;
     width:480px; 
     top:105px; 
     left:30px; 
     position:absolute; 
     border:2px solid black;
     border-radius:14px;
     background-color:graytext
 }
 
 #homepageSlider{
width:80%;
height:30%;
border:2px solid black;
margin: 0 auto;
display:block;
position: relative;

 }

  #detailsSlider{
        width:100%;
        height:350px;
        border:2px solid black;
        display:block;
        position: relative;
        float:left;

 }
 
 a{
     color:blue;
 }
 
 label{
     font-size:16px;
 } 

#img{
            background-size:cover;
            position:absolute; width:100%; height:100%;
            
            background-repeat:repeat;
        }

        
.cstmBtn, .cstmBtn:hover,.cstmBtn:active, .cstmBtn:after {
            font-size: 20px;
            background-color: transparent;
            border:none;
            position: relative;
            }

.form-control{
    border: 1px solid black;
    
}

.btn-default{
    border: 1px solid black;
    
}

.form-narrow {
    color:black;
    max-width: 490px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
      
}

.navbar{
    background-color: black
}

.navbarTab {
    font-size: 25px;
}

.li:hover{
    
    
}

@media screen and (max-width: 960px) {
    .homepageContainer {
        /*width: 300px;*/
    }
}


.homepageForm > .form-group > .form-control{
    border: 1px solid black;
}

.homepageForm > .form-group > .form-control:active{
    border: 1px solid black;
   
}

.homepageForm > .form-group > .row > .col-lg-12 > .form-control{
    border: 1px solid black;
 
}

.homepageMinPriceDropdown{
    width:40%;
    float:left;
}

.homepageMaxPriceDropdown{
    width:40%;
    float:right;
}

.homepageSearchbtn,.homepageSearchbtn:hover , .homepageSearchbtn:active{
    border: 1px solid black;
    width:40%;
    float:right;
    
}

.grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;

    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
}

.module {
    /* Demo-Specific Styles */
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;

}

/* If Grid is supported, remove the margin we set for the fallback */
/*@supports (display: grid) {
    .module {
        margin: 20px;

    }
}*/