<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{updateProperty.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>    

</head>
<body>
    <div th:replace="fragments/layout :: header">
    </div>
    
    <h2 class="adminPageTitle centeredElement">Update a Property </h2><br><br>
           
    <th:block th:each="property : ${properties}">            
        <div class="container generalUseContainer centeredElement" style="width:100%; height:auto">
            <img class="propertyImageSmall" th:src="${property.image_path} + '/1.jpg'"><br><br>
            <h3 th:text="'Property ID: ' + ${property.id}" ></h3>
            <h3 th:text="${property.property_type}" />
            <h3 th:text="'Sale price: ' + ${property.price} + ' $'" /><br>                                                         
        </div>                       
        <br>
    </th:block>

    
<script th:src="@{/resources/js/homepage.js}"></script>
</body>
</html>
     