<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>    

</head>
<body onload="startTimer()">
    <div th:replace="fragments/layout :: header">
    </div>
    
<img id="img" src="https://upload.wikimedia.org/wikipedia/commons/f/f1/04082013_-_Venice_Beach_-_L.A._California_%289591344501%29.jpg">

            <div class="container homepageSearchContainer" id="navigation">
                <form class="homepageForm" th:action="@{/filter}">
                    <h2>Filter By:</h2>
                    <br>
                    <div class="form-group">
                        <label for="PropertyType">Property Type</label>
                        <select class="form-control" name = "property_type">
                            <option th:if="${property_type != null}" style="display:none " th:value="${property_type}" th:text="${property_type}"></option>
                            <option value="Not specified">Not specified</option>
                            <option value="Office">Office</option>
                            <option value="House / Villa">House / Villa</option>
                            <option value="Apartment">Apartment</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Price ($) Min - Max</label>
                        <div class="row">
                            <div class="col-lg-12">
                                <select class="homepageMinPriceDropdown form-control" name="min_price" onchange="minChange()">
                                    <option th:if="${min_price != null}" style="display:none" th:value="${min_price}" th:text="${min_price}"></option>
                                    <option value="0">NO MIN</option>
                                    <option value="250000">250000</option>
                                    <option value="500000">500000</option>
                                    <option value="1000000">1000000</option>
                                    <option value="1500000">1500000</option>
                                    <option value="2000000">2000000</option>
                                    
                                </select>
                                <select class="homepageMaxPriceDropdown form-control" name ="max_price" onchange="maxChange()">
                                    <option th:if="${max_price != null}" style="display:none" th:value="${max_price}" th:text="${max_price}"></option>
                                    <option value="0">NO MAX</option>
                                    <option value="1000000">1000000</option>
                                    <option value="1500000">1500000</option>
                                    <option value="2000000">2000000</option>
                                    <option value="4000000">4000000</option>
                                    <option value="6000000">6000000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <br>
                <button class="btn btn-default homepageSearchbtn" type="submit">Search</button>
            </form>
            
                <br><br><br> <br>
                <p style="text-align:center;"><b>Want to sell your property ? <a href="#">Contact us</a> now!</b></p> 
                <img id="homepageSlider" src="resources/images/1.1.jpg">  
                
                <br><br>
                
                <div style="margin: 0 auto; text-align: center">
                    <button class="cstmBtn" onclick="displayPreviousImage()">
                        <span class=" glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </button>

                        <button class="cstmBtn" onclick="displayNextImage()">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </button> 
                </div>
                <br>
            </div>
            
    

<div class="row">
    <br><br><br><br><br><br>
    <div class="col-lg-3"></div>
    
    <div class="container" style="float:right; width:60%">
        <th:block th:each="property : ${properties}">
            
                   <div class="container homepagePropertiesContainer"> 
                       <br>
                        <img class="propertyImageSmall" src="resources/images/img.jpg">

                        <h3 class="propertyDetails" th:text="${property.property_type}" />
                        
                        <h3 class="propertyDetails" th:text="'Price($): ' + ${property.price}" />
                        <br>
                        <p class="propertyDetails" th:text="'Square meters: ' + ${property.square_meters}" />
                        <p class="propertyDetails" th:text="'Year built: ' + ${property.year_built}" />
                        <p class="propertyDetails" th:text="'Posted at: ' + ${property.posted_at}" />
                        <br>
                        <a href="#" style="font-size:19px; color:blue;">Click here for more details</a>
                        
                    </div>
                <br>
          
     </th:block>
    </div>
        
            <br>
   
        
        </div>
</body>


<script th:inline="javascript" type="text/javascript">
    /* Fill in modal with content loaded with Ajax */
    $(document).ready(function () {
        $('#signup').on('click', function () {
            $("#signup-modal").modal();
            $("#signup-modal-body").text("");
            $.ajax({
                url: "signup",
                cache: false
            }).done(function (html) {
                $("#signup-modal-body").append(html);
            });
        });
    });

          function displayNextImage() {
              x = (x === images.length - 1) ? 0 : x + 1;
             document.getElementById("homepageSlider").src = images[x];
          }

          function displayPreviousImage() {
              x = (x <= 0) ? images.length - 1 : x - 1;
              document.getElementById("homepageSlider").src = images[x];
          }

          function startTimer() {
              setInterval(displayNextImage, 4000);
          }

          var images = [], x = -1;
          images[0] = "resources/images/2.1.jpg";
          images[1] = "resources/images/3.1.jpg";
          images[2] = "resources/images/4.1.jpg";
               
          
      </script>
      
     