<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>


<!-- Header -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <img src="resources/images/LOGO.png" id="logo">
    <div class="container">       
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a href="#" th:href="@{/}" class="navbarTab">
                        Home
                    </a>
                </li>
                <li th:classappend="${module == 'about' ? 'active' : ''}">
                    <a href="#about" th:href="@{/about}" class="navbarTab">
                        About
                    </a>
                </li>
                <li th:classappend="${module == 'properties' ? 'active' : ''}">
                   <a href="#properties" th:href="@{/properties(property_type='Apartment', min_price=0, max_price=0)}" class="navbarTab">
                       All Properties
                    </a>                 
                </li>
            </ul>
          
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}" class="navbarTab">
                        Log In
                    </a>                    
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                   <a href="/signup" th:href="@{/signup}" class="navbarTab">
                        Sign Up
                    </a>                 
                </li>
                   
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                   <a href="#userAccount" th:href="@{/userAccount}" class="navbarTab">
                       My Account
                    </a>                 
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();" class="navbarTab">
                        Logout
                    </a> 
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
                
            </ul>
        </div>
    </div>
</div>

<style>
    li{
        position:relative;
        top:6px;
    }
</style>
</body>
</html>

